@import "../../../sass/variables";

.upgrades-table {
	width: 100%;

	th {
		padding: 0px 5px;
		background-color: #525252;
		height: 32px;
	}

	td {
		padding: 0px 5px;
		background-color: #323232;
	}
}

.upgrades-table tr:hover td:first-child {
	border-left: 3px solid rgba(79,192,210,1);
	background-color: #4E4E4E;
}

.bg-52 {
	background-color: #525252 !important;
}

@media only screen and (min-width: 716px) {
	.upgrades-table td:hover {
		background-color: #4E4E4E;
	}
}

.border-left-blue {
	border-left: 3px solid darken(rgba(79,192,210,1),30%);
}

.selected {
	background-color: #4E4E4E !important;
}

.upgrade-th {
	font-size: 16px;
}
.upgrade-td {
	cursor:pointer;
	font-size:14px;
}

.hex-gray {
	color: #202020;
}

.hex-0 {
	color: $attack;
}

.hex-1 {
	color: $affinity;
}

.hex-2 {
	color: $defense;
}

.hex-3 {
	color: $slot;
}

.hex-4 {
	color: $health;
}

.hex-5 {
	color: $element;
}

.hex-o-0 {
	color: darken($attack,10%);
}

.hex-o-1 {
	color: darken($affinity,10%);
}

.hex-o-2 {
	color: darken($defense,10%);
}

.hex-o-3 {
	color: darken($slot,10%);
}

.hex-o-4 {
	color: darken($health,10%);
}

.hex-o-5 {
	color: darken($element,10%);
}

.hex-l-0 {
	color: lighten($attack,10%);
}

.hex-l-1 {
	color: lighten($affinity,10%);
}

.hex-l-2 {
	color: lighten($defense,10%);
}

.hex-l-3 {
	color: lighten($slot,15%);
}

.hex-l-4 {
	color: lighten($health,10%);
}

.hex-l-5 {
	color: lighten($element,10%);
}

.hex-bl-0 {
	background-color: lighten($attack,20%);
}

.hex-bl-1 {
	background-color: lighten($affinity,20%);
}

.hex-bl-2 {
	background-color: lighten($defense,20%);
}

.hex-bl-3 {
	background-color: lighten($slot,20%);
}

.hex-bl-4 {
	background-color: lighten($health,20%);
}

.hex-bl-5 {
	background-color: lighten($element,20%);
}
