<div class="container">
	<table class="upgrades-table">
		<thead>
			<tr>
				<th class="text-center">{{upgradeContainer.used}}/{{upgradeContainer.slots}}</th>
				<th class="text-center">Lv1</th>
				<th class="text-center">Lv2</th>
				<th class="text-center">Lv3</th>
				<th class="text-center">Lv4</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let aug of upgrades; let augIndex = index">
				<tr *ngIf="aug.levels.length > 0">
					<td class="border-left-blue">{{aug.type}}</td>
					<td *ngFor="let level of aug.levels; let levelIndex = index"
						(click)="selectUpgLevel(augIndex, levelIndex + 1)"
						[style.background-color]="getBackgroundColor(augIndex, levelIndex)"
						class="text-center" style="cursor:pointer;">
						<span *ngFor="let key of level.requiredSlots | numbersArr"
							  [class]="getHexagonClass(augIndex,levelIndex)"
							  style="font-size:24px;">
							&#x2B22;
						</span>
					</td>
				</tr>
			</ng-container>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-center border-left-blue" style="background-color:#323232!important;">
					<span *ngFor="let detail of upgradeContainer.upgradeDetails; let i = index">
						<span *ngFor="let key of detail.totalSlots | numbersArr">
							<span [class]="'hex-o-' + (i + 1)" style="font-size: 26px;">&#x2B22;</span>
						</span>
					</span>
					<span *ngFor="let key of (upgradeContainer.slots - upgradeContainer.used) | numbersArr">
						<span class="hex-0" style="font-size: 26px;">&#x2B22;</span>
					</span>
				</td>
				<td class="text-center bg-52" (click)="selectUpgrade()" style="cursor:pointer;">
					<button type="button" class="text-white">OK</button>
				</td>
			</tr>
		</tfoot>
	</table>
	<table class="upgrades-table" *ngIf="upgradeContainer.hasCustomUpgrades">
		<thead>
			<tr>
				<th class="text-left upgrade-th">Custom</th>
				<th class="upgrade-th">I</th>
				<th class="upgrade-th">II</th>
				<th class="upgrade-th">III</th>
				<th class="upgrade-th">IV</th>
				<th class="upgrade-th">V</th>
				<th class="upgrade-th">VI</th>
				<th class="upgrade-th">VII</th>
				<th class="upgrade-th">Total</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customUpg of customUpgrades">
				<td>
					{{customUpg.type}}
				</td>
				<td *ngFor="let value of customUpg.values; let i = index"
					(click)="selectCustomUpg(customUpg.id, i, value)"
					[class.selected]="upgradeContainer.customUpgradeIds[i] == customUpg.id"
					class="text-center upgrade-td">
					<span [hidden]="value==0">{{value}}</span>
				</td>
				<td class="text-center upgrade-td bg-52">
					+{{sumCustomUpg(customUpg.id)}}
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8" class="text-center border-left-blue" style="background-color:#323232!important;">
					<span *ngFor="let customId of upgradeContainer.customUpgradeIds; let i = index">
						<span [ngClass]="'hex-' + customId" style="font-size: 22px;">&#9672;</span>
					</span>
				</td>
				<td class="text-center bg-52" (click)="selectUpgrade()" style="cursor:pointer;">
					<button type="button" class="text-white">OK</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
