@import "../../../sass/common";

.upgrades-table {
	width: 100%;

	th {
		padding: 0px 5px;
		background-color: #525252;
		height: 32px;
	}

	td {
		padding: 0px 5px;
		background-color: #323232;
	}
}

.upgrades-table tr:hover td:first-child {
	border-left: 3px solid rgba(79,192,210,1);
	background-color: #4E4E4E;
}

.bg-52 {
	background-color: #525252 !important;
}

@media only screen and (min-width: 716px) {
	.upgrades-table td:hover {
		background-color: #4E4E4E;
	}
}

.border-left-blue {
	border-left: 3px solid darken(rgba(79,192,210,1),30%);
}

.selected {
	background-color: #4E4E4E !important;
}

.upgrade-th {
	font-size: 16px;
}

.upgrade-td {
	cursor: pointer;
	font-size: 14px;
}
