<div class="container">
	<table class="upgrades-table">
		<thead>
			<tr>
				<th class="text-left">[{{upgradesContainer.used}}/{{slots}}]</th>
				<th class="text-center">Lv1</th>
				<th class="text-center">Lv2</th>
				<th class="text-center">Lv3</th>
				<th class="text-center">Lv4</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let aug of upgrades; let augIndex = index" class="">
				<td class="border-left-blue">{{aug.type}}</td>
				<td *ngFor="let level of aug.levels; let levelIndex = index" (click)="selectAugLevel(augIndex, levelIndex + 1)" class="text-center" style="cursor:pointer;" [style.background-color]="getBackgroundColor(augIndex, levelIndex)">
					<!--[{{level.requiredSlots}}] {{getLevelColor(augIndex, levelIndex)}}-->
					<span *ngFor="let key of level.requiredSlots | numbersArr" [class]="getHexagonClass(augIndex,levelIndex)" style="font-size:28px;">&#x2B22;</span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4" class="text-center" style="background-color:#323232!important;">
					<span *ngFor="let detail of upgradesContainer.upgradesDetail; let i = index">
						<span *ngFor="let key of detail.totalSlots | numbersArr">
							<span [class]="'hex-o-'+i" style="font-size: 30px;">&#x2B22;</span>
						</span>
					</span>
					<span *ngFor="let key of (slots - upgradesContainer.used) | numbersArr">
						<span class="hex-gray" style="font-size: 30px;">&#x2B22;</span>
					</span>
				</td>
				<td class="text-center">
					<button type="button" (click)="selectAugmentation()">OK</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
