@import "./variables";

ul.striped {
	li {
		padding: 2px 4px;
	}

	li:not([hidden]):nth-child(even) {
		background: #333333;
		border-radius: 2px;
	}
}

ul.striped-light {
	li {
		padding: 2px 4px;
	}

	li:not([hidden]):nth-child(even) {
		background: #444444;
		border-radius: 2px;
	}
}

.green {
	color: $green;
}

.blue {
	color: $blue;
}

.oblue {
	color: $oblue;
}

.yellow {
	color: $yellow;
}

.orange {
	color: $orange;
}

.red {
	color: $red;
}

.lightgray {
	color: lightgray;
}

.gray {
	color: gray;
}

.purple {
	color: $purple;
}

.kakhi {
	color: $kakhi;
}

.Fire {
	color: $fire;
}

.Water {
	color: $water;
}

.Thunder {
	color: $thunder;
}

.Ice {
	color: $ice;
}

.Dragon {
	color: $dragon;
}

.Poison {
	color: $poison;
}

.Sleep {
	color: $sleep;
}

.Paralysis {
	color: $paralysis;
}

.Blast {
	color: $blast;
}

.Attack {
	color: $attack;
}

.Affinity {
	color: $affinity;
}

.Defense {
	color: $defense;
}

.Slot {
	color: $slot;
}

.Health {
	color: $health;
}

.Ailment {
	color: $ailment;
}

.Element {
	color: $element;
}

.Sharpness {
	color: $sharpness;
}

.NormalCapacity {
	color: $capacity;
}
.SpreadCapacity {
	color: $capacity;
}
.PierceCapacity {
	color: $capacity;
}
.ElementalCapacity {
	color: $capacity;
}
.AttackMelody {
	color: $melody;
}
.StaminaMelody {
	color: $melody;
}
.ElementalMelody {
	color: $melody;
}
.StatusMelody {
	color: $melody;
}
.EarplugsMelody {
	color: $melody;
}

.hex-0 {
	color: #202020;
}

.hex-1 {
	color: $attack;
}

.hex-2 {
	color: $affinity;
}

.hex-3 {
	color: $defense;
}

.hex-4 {
	color: $slot;
}

.hex-5 {
	color: $health;
}

.hex-6 {
	color: $element;
}

.hex-7 {
	color: $sharpness;
}

.hex-o-1 {
	color: darken($attack, 10%);
}

.hex-o-2 {
	color: darken($affinity, 10%);
}

.hex-o-3 {
	color: darken($defense, 10%);
}

.hex-o-4 {
	color: darken($slot, 10%);
}

.hex-o-5 {
	color: darken($health, 10%);
}

.hex-o-6 {
	color: darken($element, 10%);
}

.hex-o-7 {
	color: darken($sharpness, 10%);
}

.hex-l-1 {
	color: lighten($attack, 10%);
}

.hex-l-2 {
	color: lighten($affinity, 10%);
}

.hex-l-3 {
	color: lighten($defense, 10%);
}

.hex-l-4 {
	color: lighten($slot, 15%);
}

.hex-l-5 {
	color: lighten($health, 10%);
}

.hex-l-6 {
	color: lighten($element, 10%);
}

.hex-l-7 {
	color: lighten($sharpness, 10%);
}

.hex-bl-1 {
	background-color: lighten($attack, 20%);
}

.hex-bl-2 {
	background-color: lighten($affinity, 20%);
}

.hex-bl-3 {
	background-color: lighten($defense, 20%);
}

.hex-bl-4 {
	background-color: lighten($slot, 20%);
}

.hex-bl-5 {
	background-color: lighten($health, 20%);
}

.hex-bl-6 {
	background-color: lighten($element, 20%);
}

.hex-bl-7 {
	background-color: lighten($sharpness, 20%);
}
