<div class="container">
	<div *ngIf="showAmmoInfo" class="animated fadeIn fast">
		<button (click)="setRecoil(1)" [ngClass]="{'recoil':recoilSuppresorMod>0}">
			<i class="fas fa-sign-out-alt fa-rotate-90"></i> 1
		</button>
		<button (click)="setRecoil(2)" [ngClass]="{'recoil':recoilSuppresorMod>1}">
			<i class="fas fa-sign-out-alt fa-rotate-90"></i> 2
		</button>
		<button (click)="setRecoil(3)" [ngClass]="{'recoil':recoilSuppresorMod>2}">
			<i class="fas fa-sign-out-alt fa-rotate-90"></i> 3
		</button>
		<button (click)="setReload(1)" [ngClass]="{'reload':reloadAssistMod>0}">
			<i class="fas fa-angle-double-up"></i> 1
		</button>
		<button (click)="setReload(2)" [ngClass]="{'reload':reloadAssistMod>1}">
			<i class="fas fa-angle-double-up"></i> 2
		</button>
		<button (click)="setReload(3)" [ngClass]="{'reload':reloadAssistMod>2}">
			<i class="fas fa-angle-double-up"></i> 3
		</button>
		<button (click)="setDeviation(1)" [ngClass]="{'deviation':deviationSuppresorMod>0}">
			<i class="fas fa-compress-arrows-alt"></i> 1
		</button>
		<button (click)="setDeviation(2)" [ngClass]="{'deviation':deviationSuppresorMod>1}">
			<i class="fas fa-compress-arrows-alt"></i> 2
		</button>
		<button (click)="setDeviation(3)" [ngClass]="{'deviation':deviationSuppresorMod>2}">
			<i class="fas fa-compress-arrows-alt"></i> 3
		</button>
	</div>
	<table *ngIf="ammoCapacities?.deviation">
		<thead>
			<tr>
				<th style="text-align:left;">
					Deviation {{ammoCapacities.deviation[deviationSuppresorMod]}}
					<span *ngIf="deviationSuppresorMod >= ammoCapacities.deviation.length">
						{{ammoCapacities.deviation[ ammoCapacities.deviation.length-1]}}
					</span>
					<br />
					{{ammoCapacities.specialAmmo}}
					<button>
						<i class="fas fa-cog" [ngClass]="{'sharp-2':showAmmoInfo}" (click)="showAmmoInfo=!showAmmoInfo"></i>
					</button>
				</th>
				<th>Lv 1</th>
				<th>Lv 2</th>
				<th>Lv 3</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let ammo of ammoCapacities.ammo">
				<tr *ngIf="!allZero2(ammo.levels)">
					<td>
						<img [src]="'assets/images/ammo/ammo-'+ammo.name+'-icon.png'" /> {{ammo.name|titlecase}}
					</td>
					<td *ngFor="let level of ammo.levels">
						<div *ngIf="!showAmmoInfo" class="animated fadeIn fast">
							<span style="font-weight:bold;">
								{{level.capacity}} <i class="fas fa-angle-double-up sharp-2" *ngIf="level.type==1"></i>
								<i class="fas fa-sign-out-alt fa-rotate-90 recoil" *ngIf="level.type==2"></i>
							</span>
						</div>
						<div *ngIf="showAmmoInfo && level.capacity > 0" class="animated fadeIn fast">
							<span *ngIf="recoilSuppresorMod<level.recoil.length" class="recoil">
								<!--{{level.recoil[recoilSuppresorMod]}}-->
								{{recoilType[level.recoil[recoilSuppresorMod]]}}
							</span>
							<span *ngIf="recoilSuppresorMod>=level.recoil.length" class="recoil">
								<span *ngIf="level.recoil[level.recoil.length-1]>0">
									{{recoilType[level.recoil[level.recoil.length-1]]}}
								</span>
								<i class="fas fa-sign-out-alt fa-rotate-90 recoil" *ngIf="level.recoil[level.recoil.length-1]==0"></i>
							</span>
							<br />
							<span *ngIf="reloadAssistMod<level.reload.length" class="reload">
								<!--{{level.reload[reloadAssistMod]}}-->
								{{reloadType[level.reload[reloadAssistMod]]}}
							</span>
							<span *ngIf="reloadAssistMod>=level.reload.length" class="reload">

								<!--{{level.reload[level.reload.length-1]}}-->
								{{reloadType[level.reload[level.reload.length-1]]}}
							</span>
						</div>
					</td>
					<td *ngIf="(ammo.levels).length < 3">
						-
					</td>
					<td *ngIf="(ammo.levels).length < 2">
						-
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
	<div class="no-data-warning" *ngIf="ammoCapacities?.deviation == deviationTypes.NA">
		Ammo capacity data is missing!
	</div>
</div>
