$slotHeight: 28px;
$slotPadding: 2px;

.container {
	display: grid;
	grid-template-columns: 36px auto 36px;
	height: $slotHeight;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	background-color: rgb(50,50,50);
	padding: $slotPadding;

	.slot-icon {
		line-height: $slotHeight;
		width: 36px;
		margin-left: 4px;
		margin-top: $slotPadding;
		img {
			height: $slotHeight - $slotPadding * 2;
			width: auto;
		}
	}

	.selected-augmentation {
		line-height: $slotHeight;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.clear-button {
		height: $slotHeight;
	}
}

.selected {
	background-color: #525252;
}
