<div class="container">
	<br />
	<h4>
		Skills
		<span [hidden]="!skillsVisible" (click)="skillsVisible = !skillsVisible"><i class="fas fa-minus-circle number"></i></span>
		<span [hidden]="skillsVisible" (click)="skillsVisible = !skillsVisible"><i class="fas fa-plus-circle number"></i></span>
	</h4>

	<div [hidden]="!skillsVisible">
		<hr>
		<ul class="striped">
			<ng-container *ngFor="let skill of skills; let i = index">
				<li *ngIf="!skill.isSetBonus" [style.color]="getSkillCountColor(skill)" (pointerenter)="showSkillDetails($event, skill)" (pointerleave)="clearSkillDetails()">
					<span class="detail-icon" (click)="showOnClickSkillDetails(skill)">
						<i class="far fa-question-circle"></i>
					</span>
					<span class="name" [style.color]="getModeColor(skill.mode)" (click)="showOnClickSkillDetails(skill)">
						{{skill.name}}
					</span>
					<span class="value">
						<span (click)="skillMode(skill)" style="font-size:14px !important;">
							<i [ngClass]="skill.mode == 1 ? 'fas fa-circle':(skill.mode == 2 ? 'far fa-circle': 'fas fa-circle')" [style.color]="getModeColor(skill.mode)"></i>
							[{{skill.equippedCount}}]
						</span>
						<span class="skill-box" style="display:inline-block;position:relative;">
							<span *ngFor="let key of getMinCount(skill.equippedArmorCount, skill.totalLevelCount - skill.secretLevelCount) | numbersArr">
								<span *ngIf="!skill.isNatureBonus">
									<span class="skill-bg-active" *ngIf="skill.mode==1">
									</span>
									<span class="skill-bg-mode2" *ngIf="skill.mode==2">
									</span>
									<span class="skill-bg-mode3" *ngIf="skill.mode==3">
									</span>
								</span>
								<span class="skill-bg-nature" *ngIf="skill.isNatureBonus">
								</span>
							</span>
							<span *ngFor="let key of (getMinCount(skill.equippedArmorCount, skill.totalLevelCount) - (skill.totalLevelCount - skill.secretLevelCount)) | numbersArr">
								<span class="skill-bg-secret" *ngIf="!skill.isNatureBonus">
								</span>
							</span>
							<span *ngFor="let key of getMinCount(skill.equippedToolActiveCount, skill.totalLevelCount - skill.equippedArmorCount) | numbersArr">
								<span class="skill-bg-tool">
								</span>
							</span>
							<span *ngFor="let key of (skill.totalLevelCount - skill.equippedArmorCount - skill.equippedToolActiveCount) | numbersArr">
								<span class="skill-bg-empty">
								</span>
							</span>
							<span *ngFor="let key of (7 - skill.totalLevelCount) | numbersArr">
								<span class="skill-bg-transparent">
								</span>
							</span>
						</span>
					</span>
				</li>
			</ng-container>
		</ul>

		<div *ngIf="setBonuses?.length">
			<br />
			<h4>Set Bonuses</h4>
			<hr>
			<ul class="">
				<ng-container *ngFor="let setBonus of setBonuses">
					<li class="setBonus-header" (pointerenter)="showSetBonusDetails($event, setBonus)" (pointerleave)="clearSetBonusDetails()" (click)="showOnClickSetBonusDetails(setBonus)">
						<span class="detail-icon">
							<i class="far fa-question-circle"></i>
						</span>
						<span class="name">
							{{setBonus.name}} &nbsp;
							[
							<span [style.color]="getSetBonusColor(setBonus.equippedCount, setBonus.details[setBonus.details.length-1].requiredCount)">
								{{setBonus.equippedCount}}
							</span>
							]
							/
							[
							<span *ngFor="let level of setBonus.details; let i=index">
								<span [style.color]="getSetBonusColor(setBonus.equippedCount, level.requiredCount)">
									{{level.requiredCount}}
								</span>
								<span *ngIf="i < setBonus.details.length - 1">|</span>
							</span>
							]
						</span>
						<div class="value">
						</div>
					</li>
					<li *ngFor="let level of setBonus.details; let i=index" [style.color]="getSetBonusColor(setBonus.equippedCount, level.requiredCount)" (pointerenter)="showSkillDetails($event, level)" (pointerleave)="clearSkillDetails()" (click)="showOnClickSkillDetails(level)">
						<span class="detail-icon">
						</span>
						<span class="name">
							<i class="far fa-question-circle"></i>&nbsp;{{level.skill.name}}
						</span>
						<div class="value">
							<span class="skill-box" style="display:inline-block;position:relative;">
								<span *ngFor="let key of getMinCount(setBonus.equippedCount, level.requiredCount) | numbersArr">
									<span class="skill-bg-setbonus">
									</span>
								</span>
								<span *ngFor="let key of (level.requiredCount - getMinCount(setBonus.equippedCount, level.requiredCount)) | numbersArr">
									<span class="skill-bg-empty">
									</span>
								</span>
								<span *ngFor="let key of (5 - level.requiredCount) | numbersArr">
									<span class="skill-bg-transparent">
									</span>
								</span>
							</span>
						</div>
					</li>
				</ng-container>
			</ul>
		</div>
	</div>
</div>
