@import "../../../sass/common";

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 2px 4px;
	cursor: default;
	display: grid;
	grid-template-columns: min-content auto min-content;
	grid-gap: 4px;

	.detail-icon {
		grid-column: 1;
		display: inline-block !important;
		position: relative;
		margin-right: 4px;
	}

	.name {
		grid-column: 2;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.value {
		grid-column: 3;
		white-space: nowrap;
	}
}

.skill-box {
	height: 10px !important;
	text-align: left !important;
}

.skill-box span {
	display: inline-block !important;
	height: 100%;
}

.skill-bg-active {
	background-color: deepskyblue;
	color: deepskyblue;
	width: 12px !important;
	border-color: deepskyblue;
	border-width: 2px;
	border-style: solid;
	margin-left: 2px;
	margin-right: 2px;
}

.skill-bg-tool {
	background-color: #86ff86;
	color: #86ff86;
	width: 12px !important;
	border-color: #86ff86;
	border-width: 2px;
	border-style: solid;
	margin-left: 2px;
	margin-right: 2px;
}

.skill-bg-inactive {
	background-color: #C0C0C0;
	color: #C0C0C0;
	border-color: #C0C0C0;
	border-width: 2px;
	border-style: solid;
	width: 12px !important;
	margin-left: 2px;
	margin-right: 2px;
}

.skill-bg-transparent {
	background-color: transparent;
	color: transparent;
	border-color: transparent;
	border-width: 2px;
	border-style: solid;
	width: 12px !important;
	margin-left: 2px;
	margin-right: 2px;
}

.skill-bg-setbonus {
	background-color: #F0E68C;
	color: #F0E68C;
	border-color: #F0E68C;
	border-width: 2px;
	border-style: solid;
	width: 12px !important;
	margin-left: 2px;
	margin-right: 2px;
}

.setBonus-header {
	background-color: #444444;
	border-radius: 2px;
}
