@import "../../../sass/common";

$skillColor: deepskyblue;
$skillMode2: slategray;
$skillMode3: darken(deepskyblue,12%);
$skillNature: #00c292;
$skillWidht: 10px;

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 2px 4px;
	cursor: default;
	display: grid;
	grid-template-columns: min-content auto min-content;
	grid-gap: 4px;

	.detail-icon {
		grid-column: 1;
		display: inline-block !important;
		position: relative;
		margin-right: 4px;
	}

	.name {
		grid-column: 2;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.value {
		grid-column: 3;
		white-space: nowrap;
	}
}

.skill-box {
	height: 9px !important;
	text-align: left !important;
}

.skill-box span {
	display: inline-block !important;
	height: 100%;
}

.skill-square {
	width: $skillWidht !important;
	border-width: 2px;
	border-style: solid;
	margin: 0 2px;
}

.skill-bg-active {
	background-color: deepskyblue;
	color: deepskyblue;
	border-color: deepskyblue;
}

.skill-bg-mode2 {
	background-color: $skillMode2;
	color: $skillMode2;
	border-color: $skillMode2;
}

.skill-bg-mode3 {
	background-color: $skillMode3;
	color: $skillMode3;
	border-color: $skillMode3;
}

.skill-bg-secret {
	background-color: #7f40bf;
	color: #7f40bf;
	border-color: #7f40bf;
}

.skill-bg-tool {
	background-color: #86ff86;
	color: #86ff86;
	border-color: #86ff86;
}

.skill-bg-empty {
	background-color: #C0C0C0;
	color: #C0C0C0;
	border-color: #C0C0C0;
}

.skill-bg-transparent {
	background-color: transparent;
	color: transparent;
	border-color: transparent;
}

.skill-bg-setbonus {
	background-color: #F0E68C;
	color: #F0E68C;
	border-color: #F0E68C;
}

.skill-bg-nature {
	background-color: $skillNature;
	color: $skillNature;
	border-color: $skillNature;
	width: $skillWidht !important;
}

.setBonus-header {
	background-color: #444444;
	border-radius: 2px;
}
