<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search(searchBox.value)" placeholder="Search names, kinsect types, dust types" />
		<button type="button" class="iceborne-button" (click)="setOnlyIceborne()" title="Only Iceborne">
			<i class="fas fa-toggle-on" [hidden]="!onlyIceborne"></i>
			<i class="fas fa-toggle-off" [hidden]="onlyIceborne"></i>
		</button>
		<button type="button" class="sort-button" (click)="showSortContainer=!showSortContainer">
			<i class="fas fa-sort-amount-up"></i>
		</button>
		<button class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="sort-container" *ngIf="showSortContainer">
		<button type="button" class="weapon-sort" [class.selected]="sortType == 'power'" (click)="sortByProperty('power')">
			<span>POWER</span>
		</button>
		<button type="button" class="weapon-sort" [class.selected]="sortType == 'speed'" (click)="sortByProperty('speed')">
			<span>SPEED</span>
		</button>
		<button type="button" class="weapon-sort" [class.selected]="sortType == 'heal'" (click)="sortByProperty('heal')">
			<span>HEAL</span>
		</button>
		<button type="button" class="weapon-sort" [class.selected]="sortType == 'attackType'" (click)="sortByProperty('attackType')">
			<span>TYPE</span>
		</button>
		<button type="button" class="weapon-sort" [class.selected]="sortType == 'dustEffect'" (click)="sortByProperty('dustEffect')">
			<span>DUST</span>
		</button>
	</div>

	<virtual-scroller id="kinsects-list" #itemList class="scroll-container" *ngIf="kinsects" [items]="filteredKinsects" (vsUpdate)="onKinsectListUpdate($event)">
		<div *ngFor="let kinsect of virtualKinsects" class="scroll-item-container" (click)="selectKinsect(kinsect)">
			<div class="name-container">
				<div class="name" [ngClass]="{'ver-52':kinsect.id==6}">
					{{kinsect.name}}
				</div>
				<!--<div class="type">
				</div>-->
				<div class="rarity" *ngIf="kinsect.rarity">
					Rarity {{kinsect.rarity}}
				</div>
			</div>
			<div class="stats-container">
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/attack-type-icon.png">
					</div>
					<div class="stat-value">{{kinsect.attackType}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/dust-effect-icon.png">
					</div>
					<div class="stat-value">{{kinsect.dustEffect}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/element-damage-icon.png">
					</div>
					<div class="stat-value sharp-8">{{kinsect.elementPower}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/kinsect/power-icon.png">
					</div>
					<div class="stat-value">{{kinsect.power}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/kinsect/speed-icon.png">
					</div>
					<div class="stat-value">{{kinsect.speed}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/kinsect/heal-icon.png">
					</div>
					<div class="stat-value">{{kinsect.heal}}</div>
				</div>
			</div>
		</div>
	</virtual-scroller>
</div>
