<div class="container">
	<div class="item-container"
		 (pointerenter)="setTooltipItem($event)"
		 (pointerleave)="clearTooltipItem()"
		 [class.selected]="selected">

		<!-- <div class="slot-name">{{slotName}}</div> -->
		<div class="slot-icon" (click)="equipmentSlotClicked()">
			<img [src]="getItemIconName()" alt="slot icon">
		</div>
		<div class="selected-item" (click)="equipmentSlotClicked()">{{item?.name}}</div>

		<div *ngIf="item?.levels" class="levels-container">
			<button type="button" class="level-down-button" (click)="levelDownClicked($event)">
				<i class="fas fa-minus"></i>
			</button>

			<div class="level">
				{{item.equippedLevel}}
			</div>

			<button type="button" class="level-up-button" (click)="levelUpClicked($event)">
				<i class="fas fa-plus"></i>
			</button>
		</div>
		<button type="button" class="info-button" (click)="showOnClickTooltipItem()" aria-label="info">
			<i class="fas fa-info-circle icon-xs" [ngClass]="'rarity-'+item?.rarity" style="display:none;"></i>
			<i class="fas fa-grip-lines-vertical icon-md" [ngClass]="'rarity-'+item?.rarity"></i>
		</button>
		<button type="button" class="clear-button" (click)="equipmentClearClicked($event)" aria-label="clear">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="augmentation-container" *ngIf="augmentations && augmentations.length">
		<mhw-builder-augmentation-slot *ngFor="let aug of augmentations">
		</mhw-builder-augmentation-slot>
	</div>

	<div class="decoration-container" *ngIf="item?.slots && item?.slots.length">
		<mhw-builder-decoration-slot *ngFor="let slot of item?.slots"
									 [level]="slot.level"
									 [itemId]="item.id"
									 [itemType]="item.itemType">
		</mhw-builder-decoration-slot>
	</div>
</div>
