<div class="container">
	<div class="elementAilment" *ngIf="weaponType != weaponTypes.LightBowgun && weaponType != weaponTypes.HeavyBowgun">
		<div class="element-slot" (click)="elementDropdown.toggle($event)">
			<div class="element selected-element">
				<div *ngIf="weaponElement && weaponElement != elementTypes.None" class="image-container">
					<img *ngIf="weaponElement" [src]="getElementIcon(weaponElement)">
				</div>
				<span *ngIf="weaponElement && weaponElement != elementTypes.None">
					{{weaponElement}}
				</span>
				<span *ngIf="!weaponElement || weaponElement == elementTypes.None">
					Element Type
				</span>
			</div>
			<mhw-builder-dropdown #elementDropdown>
				<div class="element" *ngFor="let e of elementValues" (click)="selectElement(e.value)">
					<div class="image-container">
						<img *ngIf="e.value != elementTypes.None" [src]="getElementIcon(e.value)">
					</div>
					<span>{{e.value}}</span>
				</div>
			</mhw-builder-dropdown>
		</div>
		<div class="ailment-slot" (click)="ailmentDropdown.toggle($event)">
			<div class="ailment selected-ailment">
				<div *ngIf="weaponAilment && weaponAilment != ailmentTypes.None" class="image-container">
					<img *ngIf="weaponAilment" [src]="getElementIcon(weaponAilment)">
				</div>
				<span *ngIf="weaponAilment && weaponAilment != ailmentTypes.None">
					{{weaponAilment}}
				</span>
				<span *ngIf="!weaponAilment || weaponAilment == ailmentTypes.None">
					Ailment Type
				</span>
			</div>
			<mhw-builder-dropdown #ailmentDropdown>
				<div class="ailment" *ngFor="let e of ailmentValues" (click)="selectAilment(e.value)">
					<div class="image-container">
						<img *ngIf="e.value != ailmentTypes.None" [src]="getAilmentIcon(e.value)">
					</div>
					<span>{{e.value}}</span>
				</div>
			</mhw-builder-dropdown>
		</div>
	</div>
	<div class="awakenings">
		<div class="awakening-slot">
			<div class="awakening-type">
				<div class="awakening selected-awakening" (click)="clicked()">
					<span *ngIf="setbonus">
						{{setbonus?.name}}
					</span>
					<span *ngIf="!setbonus">
						Ability
					</span>
				</div>
				<div class="awakening-level">
					<span *ngIf="setbonus?.level">
						{{setbonus?.level}} <i class="fas fa-star star-icon"></i>
					</span>
				</div>
				<div class="awakening-clear">
					<button type="button" class="clear-button" (click)="clearSkillClicked($event)">
						<i class="fas fa-times fa-sm"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="awakening-slot" *ngFor="let awakening of awakenings; let i = index">
			<div class="awakening-type" (click)="awakeningDropdown.toggle($event)">
				<div class="awakening selected-awakening">
					<span *ngIf="awakening.type != awakeningTypes.None">
						<span class="name1">{{awakening.name}}</span>
						<span class="name2" style="display: none;">{{awakening.short ? awakening.short : awakening.name}}</span>
					</span>
					<span *ngIf="awakening.type == awakeningTypes.None">
						Awakening
					</span>
				</div>
				<div class="awakening-level">
					<span>
					</span>
				</div>
				<div class="awakening-clear">
				</div>
				<mhw-builder-dropdown #awakeningDropdown>
					<div class="awakening" *ngFor="let e of awakeningValues"
						(click)="selectAwakeningType(e, awakening, i)">
						<span class="name1">{{e.name}}</span>
						<span class="name2" style="display: none;">{{e.short ? e.short : e.name}}</span>
					</div>
				</mhw-builder-dropdown>
			</div>
			<div class="awakening-level">
				<div *ngIf="awakening.type != awakeningTypes.None">
					<span *ngFor="let key of awakening.minLevel - 1 | numbersArr">
						<i class="far fa-star fa-sm c-pointer" [ngClass]="awakening.type"></i>
					</span>
					<span *ngFor="let key of (awakening.level - awakening.minLevel + 1) | numbersArr">
						<i class="fas fa-star fa-sm c-pointer" [ngClass]="awakening.type"
							(click)="selectAwakeningLevel(key + 1 + awakening.minLevel - 1, awakening)">
						</i>
					</span>
					<span *ngFor="let key of (getMin(i == 0 ? 6 : 5, awakening.maxLevel) - awakening.level) | numbersArr">
						<i class="far fa-star fa-sm c-pointer" [ngClass]="awakening.type"
							(click)="selectAwakeningLevel(key + 1 + awakening.level, awakening)"></i>
					</span>
					<span *ngFor="let key of (6 - getMin(awakening.maxLevel, i == 0 ? 6 : 5)) | numbersArr">
						<i class="far fa-star fa-sm c-pointer" style="color:#525252"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>