<div class="container" (click)="clicked()" (pointerenter)="setTooltipKinsect($event, kinsect)" (pointerleave)="clearTooltipKinsect()">
	<div class="elementAilment">
		<div class="element-slot" (click)="elementDropdown.toggle($event)">
			<div class="element selected-element">
				<div *ngIf="weaponElement && weaponElement != elementTypes.None" class="image-container">
					<img *ngIf="weaponElement" [src]="getElementIcon(weaponElement)">
				</div>
				<span>{{weaponElement}}</span>
			</div>
			<mhw-builder-dropdown #elementDropdown>
				<div class="element" *ngFor="let e of elementValues" (click)="selectElement(e.value)">
					<div class="image-container">
						<img *ngIf="e.value != elementTypes.None" [src]="getElementIcon(e.value)">
					</div>
					<span>{{e.value}}</span>
				</div>
			</mhw-builder-dropdown>
		</div>
		<div class="ailment-slot" (click)="ailmentDropdown.toggle($event)">
			<div class="ailment selected-ailment">
				<div *ngIf="weaponAilment && weaponAilment != ailmentTypes.None" class="image-container">
					<img *ngIf="weaponAilment" [src]="getElementIcon(weaponAilment)">
				</div>
				<span>{{weaponAilment}}</span>
			</div>
			<mhw-builder-dropdown #ailmentDropdown>
				<div class="ailment" *ngFor="let e of ailmentValues" (click)="selectAilment(e.value)">
					<div class="image-container">
						<img *ngIf="e.value != ailmentTypes.None" [src]="getAilmentIcon(e.value)">
					</div>
					<span>{{e.value}}</span>
				</div>
			</mhw-builder-dropdown>
		</div>
	</div>
	<div class="awakenings">
		<div class="awakening-skill">
			<div class="awakening-type">
				<div class="awakening selected-awakening">
					<span>TEOSTRA TECHNIQUE</span>
				</div>
			</div>
		</div>
		<div class="awakening-slot" *ngFor="let awakeningLevel of awakenings; let i = index">
			<div class="awakening-type" (click)="awakeningDropdown.toggle($event)">
				<div class="awakening selected-awakening">
					<span>{{awakeningLevel.type}}</span>
				</div>
				<mhw-builder-dropdown #awakeningDropdown>
					<div class="awakening" *ngFor="let e of awakeningValues" (click)="selectAwakeningType(e,awakeningLevel)">
						<span>{{e.value}}</span>
					</div>
				</mhw-builder-dropdown>
			</div>
			<div class="awakening-level">
				<div *ngIf="awakeningLevel.type != awakeningTypes.None">
					<span *ngFor="let key of awakeningLevel.level | numbersArr">
						<i class="fas fa-star c-pointer" (click)="selectAwakeningLevel(key+1,awakeningLevel)"></i>
					</span>
					<span *ngFor="let key of ((i==0 ? 6:5) - awakeningLevel.level) | numbersArr">
						<i class="far fa-star c-pointer" (click)="selectAwakeningLevel(key+1+awakeningLevel.level,awakeningLevel)"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
