@import "../../../sass/common";

$slotHeight: 24px;
$slotPadding: 2px;

$elementSize: 22px;
$elementSpacing: 2px;

.container {
	display: grid;
	height: auto;
	grid-template-rows: auto auto auto auto;
	font-size: 12px;
	cursor: pointer;
	border-radius: 3px;
	background-color: rgb(50,50,50);
	padding: $slotPadding;

	.elementAilment {
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 2px 2px;
		grid-gap: 6px;

		.element-slot {
			grid-column: 1;
			height: $slotHeight;
			background-color: rgb(41, 41, 41);
			border-radius: 3px;
			align-self: start;

			.element {
				display: flex;
				margin: $elementSpacing;
				height: $elementSize;

				span {
					padding: $elementSpacing;
					line-height: $elementSize - $elementSpacing * 2;
				}

				.image-container {
					$elementImagePadding: $elementSpacing / 2;

					padding: $elementImagePadding;
					height: $elementSize - $elementImagePadding * 2;
					width: $elementSize - $elementImagePadding * 2;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.ailment-slot {
			grid-column: 2;
			height: $slotHeight;
			background-color: rgb(41, 41, 41);
			border-radius: 3px;
			align-self: start;

			.ailment {
				display: flex;
				margin: $elementSpacing;
				height: $elementSize;

				span {
					padding: $elementSpacing;
					line-height: $elementSize - $elementSpacing * 2;
				}

				.image-container {
					$ailmentImagePadding: $elementSpacing / 2;

					padding: $ailmentImagePadding;
					height: $elementSize - $ailmentImagePadding * 2;
					width: $elementSize - $ailmentImagePadding * 2;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	.awakenings {
		grid-row: 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 2px 2px;
		grid-gap: 6px;

		.awakening-slot {
			height: $slotHeight;
			display: grid;
			grid-template-columns: auto max-content;

			.awakening-type {
				grid-column: 1;
				display: grid;
				grid-template-columns: auto max-content min-content;
				height: $slotHeight;
				background-color: rgb(41, 41, 41);
				border-radius: 3px;
				align-self: start;

				.awakening {
					grid-column: 1;
					display: flex;
					margin: $elementSpacing;
					height: $elementSize;

					span {
						padding: $elementSpacing;
						line-height: $elementSize - $elementSpacing * 2;
					}
				}

				.awakening-level {
					grid-column: 2;
					display: flex;
					margin: $elementSpacing;
					height: $elementSize;

					span {
						padding: $elementSpacing;
						line-height: $elementSize - $elementSpacing * 2;
					}
				}

				.awakening-clear {
					grid-column: 3;
					display: flex;
				}
			}

			.awakening-level {
				grid-column: 2;
				height: $slotHeight;
				line-height: $slotHeight;
				margin-left: 2px;
			}
		}
	}
}

.selected {
	background-color: #525252;
}

@media only screen and (max-width: 716px) {
	.name1 {
		display: none !important;
	}

	.name2 {
		display: inline !important;
	}
}