<div class="container" (click)="clicked()" [class.selected]="selected">
	<div class="slot-icon"><img [src]="'assets/images/augment-icon.png'" alt="augment"></div>
	<div class="selected-upgrade">
		<span *ngIf="upgradeContainer?.upgradeDetails">
			<span *ngFor="let detail of upgradeContainer.upgradeDetails; let i = index">
				<span *ngFor="let key of detail.totalSlots | numbersArr">
					<span [class]="'hex-'+i" style="font-size: 30px;">&#x2B22;</span>
				</span>
			</span>
			<span *ngFor="let key of (slots - upgradeContainer.used) | numbersArr">
				<span class="hex-gray" style="font-size: 30px;">&#x2B22;</span>
			</span>
		</span>
		<span *ngIf="!upgradeContainer?.upgradeDetails">
			<span *ngFor="let key of slots | numbersArr">
				<span class="hex-gray" style="font-size: 30px;">&#x2B22;</span>
			</span>
		</span>
	</div>
	<div class="selected-custom">
		<div *ngIf="upgradeContainer?.hasCustomUpgrades">
			<span *ngFor="let custom of upgradeContainer.customUpgrades; let i = index">
				<span [ngClass]="'hex-' + getCustomColor(custom)" style="font-size: 15px;">&#9672;</span>
			</span>
		</div>
	</div>

	<button type="button" class="clear-button" (click)="clearClicked($event)">
		<i class="fas fa-times"></i>
	</button>
</div>
