@import "../../../sass/common";

$slotHeight: 28px;
$slotPadding: 2px;

.container {
	display: grid;
	grid-template-columns: 36px auto min-content 28px;
	height: $slotHeight * 1.40;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	background-color: rgb(50,50,50);
	padding: $slotPadding;

	.slot-icon {
		line-height: $slotHeight * 1.4;
		width: 34px;
		margin-left: 4px;
		margin-top: $slotPadding * 3;

		img {
			height: $slotHeight - $slotPadding * 2;
			width: auto;
		}
	}

	.upgrades {
		grid-template-rows:auto auto;

		.selected-upgrade {
			grid-row: 1;
			line-height: $slotHeight * 0.8;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.selected-custom {
			grid-row: 2;
			padding-left: 2px;
			line-height: $slotHeight * 0.35;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}


	.info-button {
		height: $slotHeight;
	}

	.clear-button {
		height: $slotHeight;
	}
}

.selected {
	background-color: #525252;
}

@media (max-width:576px) {
	.icon-xs {
		display: block !important;
	}

	.icon-md {
		display: none !important;
		float: right;
	}
}
