<div class="container">
	<div class="save-container">
		<input #saveBox placeholder="Set Name" (keydown.enter)="save(saveBox.value)" />
		<button type="button" class="filter-button" (click)="hideFilterContainer=!hideFilterContainer">
			<i class="fas fa-filter"></i>
		</button>
		<button type="button" class="save-button save-color" (click)="save(saveBox.value)">
			<i class="fas fa-save fa-lg" [hidden]="loading==1"></i>
			<i class="fas fa-spinner fa-spin" [hidden]="loading!=1"></i>
		</button>
	</div>

	<div class="filter-container" *ngIf="!hideFilterContainer">
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'GreatSword'" (click)="weaponFilterClicked('GreatSword')">
			<img src="assets/images/weapons/greatsword-icon.png" alt="greatsword">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'SwordAndShield'" (click)="weaponFilterClicked('SwordAndShield')">
			<img src="assets/images/weapons/swordandshield-icon.png" alt="Sword and Shield">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'DualBlades'" (click)="weaponFilterClicked('DualBlades')">
			<img src="assets/images/weapons/dualblades-icon.png" alt="Dual Blades">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'LongSword'" (click)="weaponFilterClicked('LongSword')">
			<img src="assets/images/weapons/longsword-icon.png" alt="Long Sword">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'Hammer'" (click)="weaponFilterClicked('Hammer')">
			<img src="assets/images/weapons/hammer-icon.png" alt="Hammer">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'HuntingHorn'" (click)="weaponFilterClicked('HuntingHorn')">
			<img src="assets/images/weapons/huntinghorn-icon.png" alt="Hunting Horn">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'Lance'" (click)="weaponFilterClicked('Lance')">
			<img src="assets/images/weapons/lance-icon.png" alt="Lance">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'Gunlance'" (click)="weaponFilterClicked('Gunlance')">
			<img src="assets/images/weapons/gunlance-icon.png" alt="Gunlance">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'SwitchAxe'" (click)="weaponFilterClicked('SwitchAxe')">
			<img src="assets/images/weapons/switchaxe-icon.png" alt="Switch Axe">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'ChargeBlade'" (click)="weaponFilterClicked('ChargeBlade')">
			<img src="assets/images/weapons/chargeblade-icon.png" alt="Charge Blade">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'InsectGlaive'" (click)="weaponFilterClicked('InsectGlaive')">
			<img src="assets/images/weapons/insectglaive-icon.png" alt="Insect Glaive">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'Bow'" (click)="weaponFilterClicked('Bow')">
			<img src="assets/images/weapons/bow-icon.png" alt="Bow">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'LightBowgun'" (click)="weaponFilterClicked('LightBowgun')">
			<img src="assets/images/weapons/lightbowgun-icon.png" alt="LBG">
		</button>
		<button type="button" class="weapon-filter" [class.selected]="weaponTypeFilter == 'HeavyBowgun'" (click)="weaponFilterClicked('HeavyBowgun')">
			<img src="assets/images/weapons/heavybowgun-icon.png" alt="HBG">
		</button>
	</div>

	<div class="scroll-container" *ngIf="sets">
		<div [sortablejs]="sets" [sortablejsOptions]="eventOptions">
			<div *ngFor="let item of filteredItems; let i = index" class="scroll-item-container">
				<div class="icon-container text-left">
					<img [src]="'assets/images/weapons/'+item.weaponType.toLowerCase()+'-icon.png'" *ngIf="item.weaponType" alt="weapon" />
				</div>
				<div class="name-container" (click)="select(item, i)" [ngClass]="{'sharp-2':i==selectedSetIndex}">
					{{item.setName}}
				</div>
				<div class="stats-container text-right" (click)="select(item, i)">
					<span>{{item.totalAttack}}</span>
					<span *ngIf="item.element || item.ailment"> (</span>
					<span [ngClass]="item.element" *ngIf="item.element">{{item.elementAttack}}</span>
					<span *ngIf="item.element && item.ailment">/</span>
					<span [ngClass]="item.ailment" *ngIf="item.ailment">{{item.ailmentAttack}}</span>
					<span *ngIf="item.element || item.ailment">)</span>
				</div>
				<div class="buttons-container text-right">
					<button type="button" (click)="remove(i)">
						<i class="fas fa-trash" [ngClass]="{'trash-color':item.confirm}"></i>
					</button>
					<button [hidden]="!item.confirm">
						<i class="fas fa-times" (click)="item.confirm=false"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="download-container text-center">
		<button type="button" (click)="sortSets()" title="Sort sets">
			Sort <i class="fas fa-sort-amount-up" [hidden]="loading==3"></i><i class="fas fa-spinner fa-spin" [hidden]="loading!=3"></i>
		</button>
		<button type="button" (click)="saveSets()" title="Save order of sets">
			Order <i class="fas fa-save" [hidden]="loading==2"></i><i class="fas fa-spinner fa-spin" [hidden]="loading!=2"></i>
		</button>
		<button type="button" (click)="downloadHtmlFile()" title="Download Html">
			HTML <i class="fas fa-file-download"></i>
		</button>
		<button type="button" (click)="downloadJsonFile()" title="Download Json">
			JSON <i class="fas fa-file-code"></i>
		</button>
	</div>
</div>
