<div class="container">
	<div class="save-container">
		<input #saveBox placeholder="Set Name" (keydown.enter)="save(saveBox.value)"/>
		<button type="submit" class="save-button" (click)="save(saveBox.value)">
			<i class="fas fa-save fa-lg save-color"></i>
		</button>
	</div>
	<virtual-scroller id="items-list" #itemList class="scroll-container" *ngIf="savedSets" [items]="savedSets" (update)="onItemListUpdate($event)" [childHeight]="20">
		<div *ngFor="let item of virtualItems; let i = index" class="scroll-item-container">
			<div class="name-container" (click)="select(item)" [ngClass]="{'sharp-2':i==selectedSetIndex}">
				• {{item.setName}}
			</div>
			<div class="buttons-container text-right">
				<button (click)="remove(i)">
					<i class="fas fa-trash" [ngClass]="{'trash-color':item.confirm}"></i>
				</button>
				<button [hidden]="!item.confirm">
					<i class="fas fa-times" (click)="item.confirm=false"></i>
				</button>
			</div>
		</div>
	</virtual-scroller>
	<div class="download-container text-center">
		*if all this fails, it's because I'm being controlled by someone from the future*
		<button (click)="downloadFile()">
			Download <i class="fas fa-download"></i>
		</button>
	</div>
</div>
