@import "../../../sass/variables";
@import "../../../sass/common";

$saveHeight: 38px;

.container {
	display: grid;
	grid-template-rows: $saveHeight auto 20px;
	grid-row-gap: 4px;
	height: 98%;

	.save-container {
		grid-row: 1;
		background-color: rgb(50,50,50);
		padding: 0 0 0 12px;
		border-radius: 3px;
		display: grid;
		grid-template-columns: auto min-content;
		margin-left: 10px;
		margin-right: 20px;
		margin-bottom: 5px;
		height: $saveHeight;

		input {
			background-color: rgb(50,50,50);
			border: none;
			color: white;
			font-size: 16px;
			height: $saveHeight - 2;
		}

		input:focus {
			outline: none;
		}

		.save-button {
			padding-top: 4px;
			height: $saveHeight;
			width: 38px;
			flex-grow: 0;
		}
	}

	.scroll-container {
		overflow-y: auto;
		border-radius: 3px;

		.scroll-item-container {
			min-height: 25px;
			display: grid;
			grid-template-columns: 25px max-content auto 50px;
			border-radius: 3px;
			background-color: #525252;
			margin-bottom: 6px;
			margin-right: 20px;
			margin-left: 10px;
			padding: 4px;
			cursor: pointer;

			.icon-container {
				grid-column: 1;

				img {
					height: 18px;
				}
			}

			.name-container {
				grid-column: 2;
			}

			.stats-container {
				grid-column: 3;
			}

			.buttons-container {
				grid-column: 4;
				color: white;
			}
		}

		.scroll-item-container:hover {
			background-color: #828282;
		}
	}

	.download-container {
		grid-row: 3;
	}
}

.trash-color {
	color: indianred;
}

.save-color {
	color: powderblue;
}

[hidden] {
	display: none !important;
}
