<div class="container">
	<div class="save-container">
		<input #saveBox placeholder="Set Name" (keydown.enter)="save(saveBox.value)" />
		<button type="button" class="save-button save-color" (click)="save(saveBox.value)">
			<i class="fas fa-save fa-lg" [hidden]="loading==1"></i>
			<i class="fas fa-spinner fa-spin" [hidden]="loading!=1"></i>
		</button>
	</div>
	<div class="scroll-container" *ngIf="savedSets">
		<div [sortablejs]="savedSets" [sortablejsOptions]="eventOptions">
			<div *ngFor="let item of savedSets; let i = index" class="scroll-item-container">
				<div class="icon-container text-left">
					<img [src]="'assets/images/weapons/'+item.weaponType+'-icon.png'" *ngIf="item.weaponType" alt="weapon" />
				</div>
				<div class="name-container" (click)="select(item)" [ngClass]="{'sharp-2':i==selectedSetIndex}">
					{{item.setName}} 
				</div>
				<div class="stats-container text-right" (click)="select(item)">
					<span>{{item.totalAttack}}</span>
					<span *ngIf="item.element || item.ailment"> (</span>
					<span [ngClass]="item.element" *ngIf="item.element">{{item.elementAttack}}</span>
					<span *ngIf="item.element && item.ailment">/</span>
					<span [ngClass]="item.ailment" *ngIf="item.ailment">{{item.ailmentAttack}}</span>
					<span *ngIf="item.element || item.ailment">)</span>
				</div>
				<div class="buttons-container text-right">
					<button type="button" (click)="remove(i)">
						<i class="fas fa-trash" [ngClass]="{'trash-color':item.confirm}"></i>
					</button>
					<button [hidden]="!item.confirm">
						<i class="fas fa-times" (click)="item.confirm=false"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="download-container text-center">
		<button type="button" (click)="saveSets()" title="Save order of sets">
			Save Order <i class="fas fa-save" [hidden]="loading==2"></i><i class="fas fa-spinner fa-spin" [hidden]="loading!=2"></i>
		</button>
		<button type="button" (click)="downloadFile()" title="Download file">
			Download <i class="fas fa-file-download"></i>
		</button>
	</div>
</div>
