<div class="container">
	<table>
		<thead>
			<tr>
				<td>
					Notes: &nbsp;
					<span *ngFor="let note of weaponMelodies.notes; let i = index">
						<span [ngClass]="'note-' + getNoteClass(note)" style="font-size:20px;font-weight:bold;">
							<span *ngIf="i < 3">{{getNoteSymbol(note)}}</span>
						</span>
						&nbsp;
					</span>
				</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let melodyEffect of weaponMelodies.melodyEffects; let i = index">
				<td>
					<span *ngFor="let effect of melodyEffect.effects; let effectIndex = index">
						<span *ngIf="effectIndex > 0"> +</span>
						{{effect.name}} <span *ngIf="effect.level">({{effect.level}})</span>
					</span>
				</td>
				<td>
					<span *ngFor="let note of melodyEffect.melody">
						<span [ngClass]="'note-' + getNoteClass(weaponMelodies.notes[note-1])" style="font-size:18px;">
							{{getNoteSymbol(weaponMelodies.notes[note-1])}}
						</span>
						&nbsp;
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
