<div class="container">
	<table>
		<thead>
			<tr>
				<td>
					Notes: 
					<span *ngFor="let note of weaponMelodies.notes; let i = index">
						<img [src]="'assets/images/notes/' + note + '-icon.png'" class="note" alt="note">
					</span>
				</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let melody of weaponMelodies.melodies; let i = index">
				<td>
					{{weaponMelodies.melodyEffect[i].name}}
				</td>
				<td>
					<span *ngFor="let note of melody">
						<img class="note" [src]="'assets/images/notes/' + weaponMelodies.notes[note-1] + '-icon.png'" alt="note">
						&nbsp;
					</span> 
				</td>
			</tr>
		</tbody>
	</table>
</div>
