<div class="container" (pointermove)="moveTooltip($event)">
	<div class="tab-container">
		<div class="tab" (click)="equipmentSelected()" [class.selected]="equipmentVisible">Equipment</div>
		<div class="tab" (click)="statsSelected()" [class.selected]="attackDefenseVisible && statsVisible">Stats</div>
		<div class="tab" (click)="skillsSelected()" [class.selected]="skillsVisible && statsVisible">Skills</div>
		<div class="tab" (click)="openSaveModal()">
			<i class="fas fa-save fa-lg"></i>
		</div>
	</div>

	<div class="equipment-container" [hidden]="!equipmentVisible">
		<div class="equipment-slots-container">
			<mhw-builder-item-slot #weaponSlot slotName="Weapon"></mhw-builder-item-slot>
			<mhw-builder-item-slot #headSlot slotName="Head"></mhw-builder-item-slot>
			<mhw-builder-item-slot #chestSlot slotName="Chest"></mhw-builder-item-slot>
			<mhw-builder-item-slot #handsSlot slotName="Hands"></mhw-builder-item-slot>
			<mhw-builder-item-slot #legsSlot slotName="Legs"></mhw-builder-item-slot>
			<mhw-builder-item-slot #feetSlot slotName="Feet"></mhw-builder-item-slot>
			<mhw-builder-item-slot #charmSlot slotName="Charm"></mhw-builder-item-slot>
			<mhw-builder-item-slot #tool1Slot slotName="Tool1"></mhw-builder-item-slot>
			<mhw-builder-item-slot #tool2Slot slotName="Tool2"></mhw-builder-item-slot>
		</div>
	</div>
	<div class="stats-container" [hidden]="!statsVisible">
		<div class="control-buttons">
			<button type="button" (click)="clearAllItems()" title="Clear">
				<i class="fas fa-eraser fa-lg"></i>
			</button>
			<button type="button" (click)="openSaveModal()" title="Save">
				<i class="fas fa-save fa-lg"></i>
			</button>
		</div>
		<mhw-builder-equipped-stats [hidden]="!attackDefenseVisible"></mhw-builder-equipped-stats>
		<mhw-builder-equipped-skills [hidden]="!skillsVisible"></mhw-builder-equipped-skills>
		<ng-container *ngIf="weaponSlot?.item?.melodies && attackDefenseVisible">
			<br />
			<h4>
				Melodies
				<span [hidden]="!detailsVisible" (click)="detailsVisible = !detailsVisible"><i class="fas fa-minus-circle number"></i></span>
				<span [hidden]="detailsVisible" (click)="detailsVisible = !detailsVisible"><i class="fas fa-plus-circle number"></i></span>
			</h4>
			<div [hidden]="!detailsVisible">
				<hr>
				<mhw-builder-melodies [weaponMelodies]="weaponSlot.item.melodies"></mhw-builder-melodies>
			</div>
		</ng-container>
	</div>

	<mhw-builder-tooltip></mhw-builder-tooltip>

	<div class="signature">
		By TurkeyTickle & Neftalimich -
		<button type="button" (click)="openContributors()">Info</button>
		<a href="https://github.com/neftalimich/mhw-builder" target="_blank" rel="noreferrer" title="github">
			<i class="fab fa-github"></i>
		</a>
		<a href="https://discord.gg/4s7yqFg" target="_blank" rel="noreferrer" title="discord">
			<i class="fab fa-discord"></i>
		</a>
		<a href="https://twitter.com/mhw_builder" target="_blank" rel="noreferrer" title="twitter">
			<i class="fab fa-twitter"></i>
		</a>
	</div>

	<div class="version-info">
		<button type="button" id="dummy" aria-label="dummy"></button>
		<button type="button" (click)="openChangeLog()">ChangeLog</button>
	</div>

	<mhw-builder-modal #setListModal title="Saved Sets List">
		<mhw-builder-set-list></mhw-builder-set-list>
	</mhw-builder-modal>

	<mhw-builder-modal #contributorsModal title="Information">
		<div style="padding:16px;">
			<h3>
				<a href="https://github.com/TurkeyTickle/mhw-builder" target="_blank" rel="noreferrer">TurkeyTickle Github (v1.0)</a>
			</h3>
			<h3>
				<a href="https://www.github.com/neftalimich/mhw-builder" target="_blank" rel="noreferrer">Neftalí Michelet Github (v2.0)</a>
			</h3>
			<p>
				<a href="https://neftalimich.github.io/mhworld-data-page/" target="_blank" rel="noreferrer">MHW Data Page (BETA)</a>
			</p>
			<p>
				<a href="https://twitter.com/mhw_builder" target="_blank" rel="noreferrer">MHW Builder Twitter</a>
			</p>
			<p>
				<a href="https://paypal.me/neftalimich" target="_blank" rel="noreferrer">Donations 🙏</a>
			</p>
			<p>
				<a href="http://honeyhunterworld.com/mhwbi/" target="_blank" rel="noreferrer">Honey Hunter World</a>
			</p>
		</div>
	</mhw-builder-modal>

	<mhw-builder-modal #itemListModal>
		<mhw-builder-weapon-list *ngIf="slotService.selectedItemSlot && dataService.getEquipmentCategory(slotService.selectedItemSlot.slotName) == equipmentCategoryTypes.Weapon"
								 [itemType]="slotService.selectedItemSlot?.slotName" [onlyIceborne]="slotService.onlyIceborne"></mhw-builder-weapon-list>

		<mhw-builder-armor-list *ngIf="slotService.selectedItemSlot && dataService.getEquipmentCategory(slotService.selectedItemSlot.slotName) == equipmentCategoryTypes.Armor"
								[itemTypeFilters]="[slotService.selectedItemSlot?.slotName]" [onlyIceborne]="slotService.onlyIceborne"></mhw-builder-armor-list>

		<mhw-builder-charm-list *ngIf="slotService.selectedItemSlot && dataService.getEquipmentCategory(slotService.selectedItemSlot.slotName) == equipmentCategoryTypes.Charm"
								[itemType]="slotService.selectedItemSlot?.slotName"></mhw-builder-charm-list>

		<mhw-builder-tool-list *ngIf="slotService.selectedItemSlot && dataService.getEquipmentCategory(slotService.selectedItemSlot.slotName) == equipmentCategoryTypes.Tool"
							   [itemType]="slotService.selectedItemSlot?.slotName"></mhw-builder-tool-list>

		<mhw-builder-decoration-list *ngIf="slotService.selectedDecorationSlot" [decorationLevel]="slotService.selectedDecorationSlot?.level"></mhw-builder-decoration-list>
		<mhw-builder-augmentations-list *ngIf="slotService.selectedAugmentationSlot"></mhw-builder-augmentations-list>
		<mhw-builder-upgrades-list *ngIf="slotService.selectedUpgradeSlot" [upgradeContainer]="slotService.selectedUpgradeSlot?.upgradeContainer"></mhw-builder-upgrades-list>
		<mhw-builder-modifications-list *ngIf="slotService.selectedModificationSlot"></mhw-builder-modifications-list>
		<mhw-builder-kinsect-list *ngIf="slotService.selectedKinsectSlot"></mhw-builder-kinsect-list>
	</mhw-builder-modal>

	<mhw-builder-modal #changeLogModal title="Change Log">
		<div style="padding:16px;">
			<h3>2019-10-14 ICEBORNE (Version 2.7.5)</h3>
			<ul>
				<li>Now you can select multiple distinct armor pieces using the filter.</li>
				<li>Bug fixes.</li>
			</ul>
			<h3>2019-10-10 ICEBORNE (Version 2.7.0)</h3>
			<ul>
				<li>New Rajang Weapons/Armor added.</li>
				<li>New Custom upgrades updated.</li>
			</ul>
			<h3>2019-09-22 ICEBORNE (Version 2.6.0)</h3>
			<ul>
				<li>New Weapons Augment System added.</li>
				<li>New Weapons Custom Upgrade System added.</li>
			</ul>
			<h3>2019-09-22 ICEBORNE (Version 2.5.0)</h3>
			<ul>
				<li>Tools Slots Added.</li>
				<li>Active/Inactive Tools Slot.</li>
				<li>Equipped Skills Desing Improvement.</li>
				<li>Iceborne Armor Pack 1.</li>
				<li>Iceborne Weapon Pack 1. (Thanks HoneyTear)</li>
				<li>New Charms.</li>
				<li>New & Updated Skills Pack 1.</li>
				<li>Etc.</li>
			</ul>
			<h3>2019-03-20 (Version 2.3)</h3>
			<ul>
				<li>Download Set List HTML + AngularJS.</li>
				<li>Filters</li>
				<li>Bug Fixes</li>
			</ul>
			<h3>2019-03-19 (Version 2.2.5)</h3>
			<ul>
				<li>Kinsect Slot.</li>
			</ul>
			<h3>2019-03-15 (Version 2.2.0)</h3>
			<ul>
				<li>HBG/LBG Modifications Slot Added.</li>
			</ul>
			<h3>2019-01-11 (Version 2.1.0)</h3>
			<ul>
				<li>Save sets list.</li>
			</ul>
			<h3>2019-01-01 (Version 2.0.0)</h3>
			<ul>
				<li>Tons of improvements.</li>
			</ul>
		</div>
	</mhw-builder-modal>
</div>
