<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search($event, searchBox.value)" placeholder="Search names, skills, monster" />
		<button type="button" class="iceborne-button" (click)="onlyIceborne = !onlyIceborne" title="Only Iceborne">
			<i class="fas fa-toggle-on" [hidden]="!onlyIceborne"></i>
			<i class="fas fa-toggle-off" [hidden]="onlyIceborne"></i>
		</button>
		<button type="button" class="sort-button" (click)="showSortContainer=!showSortContainer">
			<i class="fas fa-sort-amount-up"></i>
		</button>
		<button type="button" class="filter-button" (click)="showFilterContainer=!showFilterContainer">
			<i class="fas fa-filter"></i>
		</button>
		<button type="button" class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="filter-container" *ngIf="showFilterContainer">
		<button type="button" class="armor-filter" [class.selected]="itemTypeIsSelected('Head')"
			(click)="addItemTypeFilter('Head')" title="Head">
			<img src="assets/images/armor/head-icon.png" [hidden]="headId == 0" alt="Head">
			<img src="assets/images/armor/head-icon.png" [hidden]="headId != 0" class="armor-icon info-opaque"
				alt="head">
		</button>
		<button type="button" class="armor-filter" [class.selected]="itemTypeIsSelected('Chest')"
			(click)="addItemTypeFilter('Chest')" title="Chest">
			<img src="assets/images/armor/chest-icon.png" [hidden]="bodyId == 0" alt="Chest">
			<img src="assets/images/armor/chest-icon.png" [hidden]="bodyId != 0" class="armor-icon info-opaque"
				alt="Chest">
		</button>
		<button type="button" class="armor-filter" [class.selected]="itemTypeIsSelected('Arms')"
			(click)="addItemTypeFilter('Arms')" title="Arms">
			<img src="assets/images/armor/arms-icon.png" [hidden]="armsId == 0" alt="Arms">
			<img src="assets/images/armor/arms-icon.png" [hidden]="armsId != 0" class="armor-icon info-opaque"
				alt="Arms">
		</button>
		<button type="button" class="armor-filter" [class.selected]="itemTypeIsSelected('Waist')"
			(click)="addItemTypeFilter('Waist')" title="Waist">
			<img src="assets/images/armor/waist-icon.png" [hidden]="waistId == 0" alt="Waist">
			<img src="assets/images/armor/waist-icon.png" [hidden]="waistId != 0" class="armor-icon info-opaque"
				alt="Waist">
		</button>
		<button type="button" class="armor-filter" [class.selected]="itemTypeIsSelected('Legs')"
			(click)="addItemTypeFilter('Legs')" title="Legs">
			<img src="assets/images/armor/legs-icon.png" [hidden]="legsId == 0" alt="Legs">
			<img src="assets/images/armor/legs-icon.png" [hidden]="legsId != 0" class="armor-icon info-opaque"
				alt="Legs">
		</button>
	</div>

	<div class="sort-container" *ngIf="showSortContainer">
		<button type="button" class="item-sort" [class.selected]="armorTypeSort == 'DEF'" (click)="sortByDefense()">
			<span>DEF</span>
		</button>
		<button type="button" class="item-sort" [class.selected]="armorTypeSort == 'FIR'"
			(click)="sortByResistance('FIR')">
			<span>FIR</span>
		</button>
		<button type="button" class="item-sort" [class.selected]="armorTypeSort == 'WAT'"
			(click)="sortByResistance('WAT')">
			<span>WAT</span>
		</button>
		<button type="button" class="item-sort" [class.selected]="armorTypeSort == 'THU'"
			(click)="sortByResistance('THU')">
			<span>THU</span>
		</button>
		<button type="button" class="item-sort" [class.selected]="armorTypeSort == 'ICE'"
			(click)="sortByResistance('ICE')">
			<span>ICE</span>
		</button>
		<button type="button" class="item-sort" [class.selected]="armorTypeSort == 'DRA'"
			(click)="sortByResistance('DRA')">
			<span>DRA</span>
		</button>
		<button type="button" class="item-sort" [class.selected]="armorTypeSort == 'SLOT'" (click)="sortBySlots()">
			<span>SLOT</span>
		</button>
	</div>

	<virtual-scroller id="items-list" #itemList class="scroll-container" *ngIf="itemsAll" [items]="filteredItems"
		(vsUpdate)="onItemListUpdate($event)">
		<div *ngFor="let item of virtualItems" class="scroll-item-container" (click)="selectItem(item)"
			[class.itemSelected]="itemIsSelected(item.id, item.itemType)">
			<div class="name-container">
				<div class="name" [ngClass]="'vcolor-' + item.color">
					{{item.name}}
				</div>
				<div class="slots">
					<div *ngIf="item.slots[0]?.level">
						<img [src]="'assets/images/decorations/' + item?.slots[0]?.level + '-0.png'" alt="slot">
					</div>
					<div *ngIf="item.slots[1]?.level">
						<img [src]="'assets/images/decorations/' + item?.slots[1]?.level + '-0.png'" alt="slot">
					</div>
					<div *ngIf="item.slots[2]?.level">
						<img [src]="'assets/images/decorations/' + item?.slots[2]?.level + '-0.png'" alt="slot">
					</div>
				</div>
				<div class="type">
					<span class="typeName">{{item.itemType}}</span>
					<img [src]="'assets/images/armor/' + (item.itemType | lowercase) + '-icon.png'" alt="item type" />
				</div>
				<div class="rarity" *ngIf="item.rarity">
					<span class="r1">Rarity </span><span class="r2">R</span>{{item.rarity}}
				</div>
			</div>

			<div class="stats-container">
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/defense-icon.png" alt="defense">
					</div>
					<div class="stat-value">
						<span *ngFor="let def of item.defense; let i = index">
							{{def}}
							<span *ngIf="i < item.defense.length - 2">
								|
								<!--➝-->
							</span>
							<span *ngIf="i == item.defense.length -2">
								|
								<!--➟-->
							</span>
						</span>
					</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/fire-icon.png" alt="fire">
					</div>
					<div class="stat-value">{{item.fireResist}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/water-icon.png" alt="water">
					</div>
					<div class="stat-value">{{item.waterResist}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/ice-icon.png" alt="ice">
					</div>
					<div class="stat-value">{{item.iceResist}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/thunder-icon.png" alt="thunder">
					</div>
					<div class="stat-value">{{item.thunderResist}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/dragon-icon.png" alt="dragon">
					</div>
					<div class="stat-value">{{item.dragonResist}}</div>
				</div>
			</div>

			<div class="skills-container">
				<div class="skill-container" *ngFor="let skill of dataService.getSkills(item.skills)">
					<div class="count">
						{{getSkillCount(item, skill)}}
					</div>
					<div class="name">
						{{skill.name}}
					</div>
				</div>
			</div>
		</div>
	</virtual-scroller>
</div>