<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search(searchBox.value)" placeholder="Search names" />
		<button type="button" class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<virtual-scroller id="setbonuses-list" #setbonusList class="scroll-container" *ngIf="setbonuses" [items]="filteredSetbonuses" (vsUpdate)="onSetbonusListUpdate($event)">
		<div *ngFor="let setbonus of virtualSetbonuses" class="scroll-item-container" (click)="selectSetbonus(setbonus)">
			<div class="name-container">
				<div class="name">
					{{setbonus.name}}
				</div>
				<div class="level" *ngIf="setbonus.level">
					<span *ngFor="let key of setbonus.level | numbersArr">
						<i class="fas fa-star fa-sm star-icon"></i>
					</span>
				</div>
			</div>
		</div>
	</virtual-scroller>
</div>
