<div class="container" (click)="clicked()" [class.selected]="selected" (pointerenter)="setTooltipModification($event, modification)" (pointerleave)="clearTooltipModification()">
	<div class="slot-icon"><img [src]="'assets/images/village-icon.png'" alt="augment"></div>
	<div class="selected-modification">
		<span class="hidden-xs">{{modification?.name}}</span>
		<span class="visible-xs">{{modification?.code}}</span>
	</div>

	<button type="button" class="clear-button" (click)="clearClicked($event)">
		<i class="fas fa-times"></i>
	</button>
</div>
