<div class="container">
	<h4>
		Attack
		<span [hidden]="!attackVisible" (click)="attackVisible = !attackVisible"><i class="fas fa-minus-circle number"></i></span>
		<span [hidden]="attackVisible" (click)="attackVisible = !attackVisible"><i class="fas fa-plus-circle number"></i></span>
	</h4>
	<div [hidden]="!attackVisible">
		<hr>
		<ul class="attack-stats striped">
			<li *ngFor="let calc of attackCalcs" (pointerenter)="showCalcDetails($event, calc)" (pointerleave)="clearCalcDetails()"
			 (click)="showOnClickCalcDetails(calc)">
				<span *ngIf="(calc.calculationTemplate || calc.info?.length) && !calc.icon" class="detail-icon" [ngClass]="calc.color">
					<i class="far fa-question-circle"></i>
				</span>
				<span *ngIf="calc.icon" class="detail-icon">
					<img [src]="'assets/images/' + calc.icon + '-icon.png'" style="height:1em;margin:auto;padding-top:1px;">
				</span>
				<span class="name">{{calc.name}}</span>
				<span class="value">
					<span [ngClass]="calc.valueColor">{{calc.value}}</span>
					<span *ngIf="calc.extra1 || calc.extra2"> (</span>
					<span [ngClass]="calc.class1">{{calc.extra1}}</span>
					<span *ngIf="calc.extra1 && calc.extra2">/</span>
					<span [ngClass]="calc.class2">{{calc.extra2}}</span>
					<span *ngIf="calc.extra1 || calc.extra2">)</span>
				</span>
			</li>
			<li *ngIf="sharpnessBar && sharpnessBar.sharps" (pointerenter)="showSharpDetails($event, sharpnessBar)"
			 (pointerleave)="clearSharpDetails()" (click)="showOnClickSharpDetails(sharpnessBar)">
				<span class="detail-icon" [ngClass]="sharpnessBar.color">
					<img [src]="'assets/images/sharpness3-icon.png'" style="height:1em;margin:auto;padding-top:1px;">
				</span>
				<span class="name">
					Sharpness
					<i class="fas fa-circle fa-sm" [ngClass]="['sharp-' + sharpnessBar.maxSharp]"></i>
				</span>
				<div class="value text-righ sharp-box">
					<span *ngFor="let sharp of sharpnessBar.sharps; let i = index" [ngClass]="['sharp-bg-' + sharp.colorIndex, sharp.active ? 'sharp-active':'sharp-none', sharp.last ? 'sharp-active-last':'', sharp.first ? 'sharp-active-first':'']"
					 [ngStyle]="{'width.px': (sharp.level * sharpnessBar.widthModifier)}">
					</span>
					<span class="sharp-bg-7 sharp-none" [ngStyle]="{'width.px': (sharpnessBar.empty * sharpnessBar.widthModifier)}">
					</span>
				</div>
			</li>
			<li *ngIf="extraData && extraData.otherData[0].value">
				<span class="detail-icon">
					<!--<i class="far fa-question-circle"></i>-->
				</span>
				<span class="name">
					<span *ngIf="extraData.weaponType=='Bow'">Coatings</span>
					<span *ngIf="extraData.weaponType=='ChargeBlade' || extraData.weaponType=='SwitchAxe'">Phial Type</span>
					<span *ngIf="extraData.weaponType=='Gunlance'">Shell Type</span>
					<span *ngIf="extraData.weaponType=='InsectGlaive'">Boost Type</span>
				</span>
				<div class="value">
					<div *ngFor="let other of extraData.otherData; let i = index">
						{{other.value}}<span *ngIf="other.data!=0">-{{other.data}}</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<br />

	<div *ngIf="ammoCapacities">
		<h4>
			Ammo
			<span [hidden]="!detailsVisible" (click)="detailsVisible = !detailsVisible"><i class="fas fa-minus-circle number"></i></span>
			<span [hidden]="detailsVisible" (click)="detailsVisible = !detailsVisible"><i class="fas fa-plus-circle number"></i></span>
		</h4>
		<div class="ammo-stats" [hidden]="!detailsVisible">
			<hr>
			<mhw-builder-ammo-capacities [ammoCapacities]="ammoCapacities"></mhw-builder-ammo-capacities>
		</div>
		<br />
	</div>

	<h4>
		Defense
		<span [hidden]="!defenseVisible" (click)="defenseVisible = !defenseVisible"><i class="fas fa-minus-circle number"></i></span>
		<span [hidden]="defenseVisible" (click)="defenseVisible = !defenseVisible"><i class="fas fa-plus-circle number"></i></span>
	</h4>
	<div [hidden]="!defenseVisible">
		<hr>
		<ul class="defense-stats striped">
			<li *ngFor="let calc of defenseCalcs" (pointerenter)="showCalcDetails($event, calc)" (pointerleave)="clearCalcDetails()">
				<span *ngIf="calc.icon" class="detail-icon">
					<img [src]="'assets/images/' + calc.icon + '-icon.png'" style="height:1em;margin:auto;padding-top:1px;">
				</span>
				<span class="name">{{calc.name}}</span>
				<span class="value">{{calc.value}}</span>
			</li>
		</ul>
	</div>
</div>
