<div class="container">
	<h4>
		Attack
		<span [hidden]="!attackVisible" (click)="attackVisible = !attackVisible"><i class="fas fa-minus-circle number"></i></span>
		<span [hidden]="attackVisible" (click)="attackVisible = !attackVisible"><i class="fas fa-plus-circle number"></i></span>
	</h4>
	<div [hidden]="!attackVisible">
		<hr>
		<ul class="attack-stats striped">
			<li *ngFor="let calc of attackCalcs" (pointerenter)="showCalcDetails($event, calc)" (pointerleave)="clearCalcDetails()" (click)="showOnClickCalcDetails(calc)">
				<span *ngIf="calc.calculationTemplate || calc.info?.length" class="detail-icon" [ngClass]="calc.color"><i class="far fa-question-circle"></i></span>
				<span class="name">{{calc.name}}</span>
				<span class="value">
					<span [ngClass]="calc.valueColor">{{calc.value}}</span>
					<span *ngIf="calc.extra1 || calc.extra2"> (</span>
					<span [ngClass]="calc.class1">{{calc.extra1}}</span>
					<span *ngIf="calc.extra1 && calc.extra2">/</span>
					<span [ngClass]="calc.class2">{{calc.extra2}}</span>
					<span *ngIf="calc.extra1 || calc.extra2">)</span>
				</span>
			</li>
			<li *ngIf="sharpnessBar && sharpnessBar.levels" (pointerenter)="showSharpDetails($event, sharpnessBar)" (pointerleave)="clearSharpDetails()" (click)="showOnClickSharpDetails(sharpnessBar)">
				<span class="detail-icon" [ngClass]="sharpnessBar.color">
					<i class="far fa-question-circle"></i>
				</span>
				<span class="name">Sharpness</span>
				<div class="value text-righ sharp-box">
					<span *ngFor="let level of sharpnessBar.levels; let i = index"
						  [ngClass]="'sharp-bg-'+ (i + sharpnessBar.levelsMissing)"
						  [ngStyle]="{'width.px': (level * sharpnessBar.widthModifier)}">
					</span>
					<span class="sharp-bg-7"
						  [ngStyle]="{'width.px': (sharpnessBar.empty * sharpnessBar.widthModifier)}">
					</span>
				</div>
			</li>
		</ul>
	</div>
	<br />

	<div *ngIf="ammoCapacities">
		<h4>
			Ammo
			<span [hidden]="!detailsVisible" (click)="detailsVisible = !detailsVisible"><i class="fas fa-minus-circle number"></i></span>
			<span [hidden]="detailsVisible" (click)="detailsVisible = !detailsVisible"><i class="fas fa-plus-circle number"></i></span>
		</h4>
		<div class="ammo-stats" [hidden]="!detailsVisible">
			<hr>
			<mhw-builder-ammo-capacities [ammoCapacities]="ammoCapacities"></mhw-builder-ammo-capacities>
		</div>
		<br />
	</div>

	<h4>
		Defense
		<span [hidden]="!defenseVisible" (click)="defenseVisible = !defenseVisible"><i class="fas fa-minus-circle number"></i></span>
		<span [hidden]="defenseVisible" (click)="defenseVisible = !defenseVisible"><i class="fas fa-plus-circle number"></i></span>
	</h4>
	<div [hidden]="!defenseVisible">
		<hr>
		<ul class="defense-stats striped">
			<li *ngFor="let calc of defenseCalcs" (pointerenter)="showCalcDetails($event, calc)" (pointerleave)="clearCalcDetails()">
				<span *ngIf="calc.calculationTemplate || calc.info?.length" class="detail-icon" [ngClass]="calc.color"><i class="far fa-question-circle"></i></span>
				<span class="name">{{calc.name}}</span>
				<span class="value">{{calc.value}}</span>
			</li>
		</ul>
	</div>
</div>
